@media screen and (max-width:1440px) and (min-width:1440px){
    .piggyheader{
        width: 90em;
    }
    html{
        width: 100%;
    }
    body{
        width:100%;
    }
    center{
        width:100%;
        overflow: clip;
    }
}